<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advanced Port Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>🔐 Advanced Port Scanner</h1>

<table>
    <thead>
        <tr>
            <th>Port</th>
            <th>Service</th>
            <th>Risk</th>
            <th>Banner</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
        <tr>
            <td>{{ r.port }}</td>
            <td>{{ r.service }}</td>

            {% if r.risk == "HIGH" %}
                <td class="risk-high">{{ r.risk }}</td>
            {% elif r.risk == "MEDIUM" %}
                <td class="risk-medium">{{ r.risk }}</td>
            {% else %}
                <td class="risk-low">{{ r.risk }}</td>
            {% endif %}

            <td class="banner">{{ r.banner }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
