body {
    font-family: Arial;
    background: #0f172a;
    color: #e5e7eb;
    padding: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: #22c55e;
    border: none;
    cursor: pointer;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #475569;
    padding: 8px;
}
